@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
  width: 100%;
  max-width: 1200px;
}

.certificate {
  width: 794px;        /* A4 width */
  min-height: 1123px;  /* A4 height */
  margin: auto;
  padding: 40px;
  background: white;
  font-family: serif;
}

@media print {
  body {
    background: white;
  }
}

p{
  font-size: 16px;
}